/* Цвета */
$button-color: #FFFFFF;
$title-color-light: #FFFFFF;
$title-color-dark: #373737;
/* Шрифты */
$main_catalog__font-title: 'PT Root UI', sans-serif;
$main_catalog__font-size: 1.6875em;
/*Брейкпоинты медиазроса*/
$mobile: 375px;