/* Цвета */
$button-color: #FFFFFF;
$button-text-color: #373737;
$title-color-light: #FFFFFF;
$title-color-dark: #373737;
/* Шрифты */
$main_catalog__font-size: 1.6875em;
$button__font-size: 0.9375em;
$main_catalog__font-title: 'PT Root UI', sans-serif;
/*Брейкпоинты медиазроса*/
$mobile: 376px;