.banner-wrapper {
    width: 100%;
    height: 960px;
    background-image: url('../img_banner/banner.png');
    display: flex;
    flex-direction: column;
    font-family: "PT Root UI"Sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #373737;
    background-size: cover;
    background-position: center;
}

.title {

    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90%;
}

.title__1 {
    font-size: 45px;
    padding-left: 40%;
}


.title__2 {
    color: #CDA434;
}

.title__3 {
    padding-left: 5%;
}

.banner_button {
    display: inline-block;
    color: #373737;
    font-size: 15px;
    text-transform: uppercase;
    background: none;
    padding: 15px;
    margin: 20px auto 50px auto;
    min-width: 212px;
    text-decoration: none;
    border-color: #373737;
}

.banner__bottomline {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.bottomline__switchlang {
    font-size: 18px;
    padding-left: 30px;
}

.switchlang__ru {
    color: #CDA434;
}

.switchlang__en {
    color: white;
}

.bottomline_icons {
    padding-left: 5em;
}

.bottomline__text {
    padding-right: 30px;
}